p {
    text-align: center;
 }

body{
    background: rgb(27, 153, 192)
}

h1 strong{
    color:rgb(255, 255, 255);
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

img{
    width: 250px
    height: 250px
    margin: 500px
    border-radius: 100%;
}

}

header{


}

